In [3]:
import pandas as pd

# Load datasets
fb = pd.read_csv("Facebook.csv")
google = pd.read_csv("Google.csv")
tiktok = pd.read_csv("TikTok.csv")
business = pd.read_csv("Business.csv")

# Show first few rows of each
print("Facebook:\n", fb.head(), "\n")
print("Google:\n", google.head(), "\n")
print("TikTok:\n", tiktok.head(), "\n")
print("Business:\n", business.head())

Facebook:
          date tactic state              campaign  impression  clicks    spend  \
0  2025-05-16    ASC    NY  Facebook - ASC - C01      124603    1888  1442.28
1  2025-05-17    ASC    NY  Facebook - ASC - C01      139596    2086  1235.47
2  2025-05-18    ASC    NY  Facebook - ASC - C01      167700    2635  1169.83
3  2025-05-19    ASC    NY  Facebook - ASC - C01      132781    2045  1775.26
4  2025-05-20    ASC    NY  Facebook - ASC - C01      115201    1634   987.10

   attributed revenue
0             4706.23
1             3674.32
2             3317.04
3             5250.54
4             2409.58

Google:
          date              tactic state                campaign  impression  \
0  2025-05-16  Non-Branded Search    CA  Google - Display - C01       73152
1  2025-05-17  Non-Branded Search    CA  Google - Display - C01      111930
2  2025-05-18  Non-Branded Search    CA  Google - Display - C01      124627
3  2025-05-19  Non-Branded Search    CA  Google - Display - C01      321754
4  2025-05-20  Non-Branded Search    CA  Google - Display - C01      254380

   clicks    spend  attributed revenue
0    3250   365.01             1131.27
1    5259  1128.02             3589.82
2    5182  1155.82             4301.39
3   14764  2864.57             9123.52
4   10954  1122.68             3801.75

TikTok:
          date       tactic state                    campaign  impression  \
0  2025-05-16  Retargeting    CA  TikTok - Retargeting - C01       67236
1  2025-05-17  Retargeting    CA  TikTok - Retargeting - C01      182920
2  2025-05-18  Retargeting    CA  TikTok - Retargeting - C01      277408
3  2025-05-19  Retargeting    CA  TikTok - Retargeting - C01      165423
4  2025-05-20  Retargeting    CA  TikTok - Retargeting - C01      137172

   clicks    spend  attributed revenue
0    1018   821.74             2232.18
1    3121  1447.52             5122.74
2    4345  2645.03             7723.98
3    2821  1758.43             6039.97
4    2048  1229.36             3437.64

Business:
          date  # of orders  # of new orders  new customers  total revenue  \
0  2025-05-16         2452              987            989      238010.95
1  2025-05-17         2173              772            761      224086.40
2  2025-05-18         2749             1275           1192      226582.57
3  2025-05-19         2060             1012            960      203540.86
4  2025-05-20         1791              910            908      188081.24

   gross profit       COGS
0     124434.71  113576.24
1     126119.02   97967.38
2     128282.08   98300.49
3     100212.05  103328.81
4     115962.11   72119.13

In [4]:
# Check columns and data types
print("Facebook info:\n")
print(fb.info(), "\n")

print("Google info:\n")
print(google.info(), "\n")

print("TikTok info:\n")
print(tiktok.info(), "\n")

print("Business info:\n")
print(business.info())

Facebook info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                1200 non-null   object
 1   tactic              1200 non-null   object
 2   state               1200 non-null   object
 3   campaign            1200 non-null   object
 4   impression          1200 non-null   int64
 5   clicks              1200 non-null   int64
 6   spend               1200 non-null   float64
 7   attributed revenue  1200 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 75.1+ KB
None

Google info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                1200 non-null   object
 1   tactic              1200 non-null   object
 2   state               1200 non-null   object
 3   campaign            1200 non-null   object
 4   impression          1200 non-null   int64
 5   clicks              1200 non-null   int64
 6   spend               1200 non-null   float64
 7   attributed revenue  1200 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 75.1+ KB
None

TikTok info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                1200 non-null   object
 1   tactic              1200 non-null   object
 2   state               1200 non-null   object
 3   campaign            1200 non-null   object
 4   impression          1200 non-null   int64
 5   clicks              1200 non-null   int64
 6   spend               1200 non-null   float64
 7   attributed revenue  1200 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 75.1+ KB
None

Business info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             120 non-null    object
 1   # of orders      120 non-null    int64
 2   # of new orders  120 non-null    int64
 3   new customers    120 non-null    int64
 4   total revenue    120 non-null    float64
 5   gross profit     120 non-null    float64
 6   COGS             120 non-null    float64
dtypes: float64(3), int64(3), object(1)
memory usage: 6.7+ KB
None

In [5]:
print("Facebook date range:", fb['date'].min(), "to", fb['date'].max())
print("Google date range:", google['date'].min(), "to", google['date'].max())
print("TikTok date range:", tiktok['date'].min(), "to", tiktok['date'].max())
print("Business date range:", business['date'].min(), "to", business['date'].max())

Facebook date range: 2025-05-16 to 2025-09-12
Google date range: 2025-05-16 to 2025-09-12
TikTok date range: 2025-05-16 to 2025-09-12
Business date range: 2025-05-16 to 2025-09-12

In [6]:
# Convert date columns to datetime format
for df in [fb, google, tiktok, business]:
    df['date'] = pd.to_datetime(df['date'])

In [7]:
print("Facebook missing:\n", fb.isnull().sum(), "\n")
print("Google missing:\n", google.isnull().sum(), "\n")
print("TikTok missing:\n", tiktok.isnull().sum(), "\n")
print("Business missing:\n", business.isnull().sum())

Facebook missing:
 date                  0
tactic                0
state                 0
campaign              0
impression            0
clicks                0
spend                 0
attributed revenue    0
dtype: int64

Google missing:
 date                  0
tactic                0
state                 0
campaign              0
impression            0
clicks                0
spend                 0
attributed revenue    0
dtype: int64

TikTok missing:
 date                  0
tactic                0
state                 0
campaign              0
impression            0
clicks                0
spend                 0
attributed revenue    0
dtype: int64

Business missing:
 date               0
# of orders        0
# of new orders    0
new customers      0
total revenue      0
gross profit       0
COGS               0
dtype: int64

In [8]:
print("Facebook summary:\n", fb.describe(), "\n")
print("Google summary:\n", google.describe(), "\n")
print("TikTok summary:\n", tiktok.describe(), "\n")
print("Business summary:\n", business.describe())

Facebook summary:
                       date     impression       clicks        spend  \
count                 1200    1200.000000  1200.000000  1200.000000
mean   2025-07-14 12:00:00  182184.958333  2465.481667  1808.310758
min    2025-05-16 00:00:00   53416.000000   613.000000   382.920000
25%    2025-06-14 18:00:00  132569.250000  1752.000000  1222.192500
50%    2025-07-14 12:00:00  173720.000000  2316.000000  1662.740000
75%    2025-08-13 06:00:00  221681.500000  2995.500000  2242.895000
max    2025-09-12 00:00:00  507523.000000  7104.000000  5898.040000
std                    NaN   65358.368720   964.088791   780.090863

       attributed revenue
count         1200.000000
mean          4714.483492
min            814.220000
25%           3115.300000
50%           4265.565000
75%           5864.272500
max          17309.610000
std           2192.355876

Google summary:
                       date     impression        clicks       spend  \
count                 1200    1200.000000   1200.000000  1200.00000
mean   2025-07-14 12:00:00  209586.520833   8700.886667  1367.94405
min    2025-05-16 00:00:00   50000.000000    253.000000   302.56000
25%    2025-06-14 18:00:00  149254.500000   6093.250000   855.71500
50%    2025-07-14 12:00:00  193122.000000   8393.000000  1212.62000
75%    2025-08-13 06:00:00  254730.250000  11272.250000  1741.19250
max    2025-09-12 00:00:00  759662.000000  33447.000000  7294.45000
std                    NaN   83315.539667   4484.764933   721.23503

       attributed revenue
count         1200.000000
mean          4182.462817
min            481.140000
25%           2442.262500
50%           3680.855000
75%           5407.330000
max          24136.260000
std           2407.712669

TikTok summary:
                       date     impression       clicks        spend  \
count                 1200    1200.000000  1200.000000  1200.000000
mean   2025-07-14 12:00:00  149864.950833  2251.487500  1205.665242
min    2025-05-16 00:00:00   50914.000000   621.000000   254.960000
25%    2025-06-14 18:00:00  110399.250000  1637.250000   778.310000
50%    2025-07-14 12:00:00  139914.500000  2094.500000  1097.955000
75%    2025-08-13 06:00:00  182687.500000  2730.000000  1519.805000
max    2025-09-12 00:00:00  525575.000000  7248.000000  4370.520000
std                    NaN   56016.743531   861.887257   576.443175

       attributed revenue
count         1200.000000
mean          3414.382567
min            683.680000
25%           2186.165000
50%           3084.130000
75%           4311.152500
max          13175.640000
std           1694.716260

Business summary:
                       date  # of orders  # of new orders  new customers  \
count                  120   120.000000       120.000000     120.000000
mean   2025-07-14 12:00:00  2938.350000      1258.941667    1222.233333
min    2025-05-16 00:00:00  1704.000000       668.000000     645.000000
25%    2025-06-14 18:00:00  2490.500000      1036.750000    1011.750000
50%    2025-07-14 12:00:00  2838.500000      1274.000000    1234.500000
75%    2025-08-13 06:00:00  3265.250000      1416.250000    1398.000000
max    2025-09-12 00:00:00  5009.000000      2491.000000    2339.000000
std                    NaN   609.972911       308.700973     302.046903

       total revenue   gross profit           COGS
count     120.000000     120.000000     120.000000
mean   261718.048417  143685.321250  118032.727167
min    184223.580000   99324.090000   72119.130000
25%    235509.607500  122643.695000  102563.500000
50%    258728.385000  144838.680000  115241.415000
75%    288359.747500  157813.705000  131000.517500
max    376324.450000  210208.710000  193236.770000
std     39317.243990   25021.248193   20093.508033

In [9]:
fb['platform'] = 'Facebook'
google['platform'] = 'Google'
tiktok['platform'] = 'TikTok'

In [10]:
ads = pd.concat([fb, google, tiktok], ignore_index=True)

print(ads.head())

        date tactic state              campaign  impression  clicks    spend  \
0 2025-05-16    ASC    NY  Facebook - ASC - C01      124603    1888  1442.28
1 2025-05-17    ASC    NY  Facebook - ASC - C01      139596    2086  1235.47
2 2025-05-18    ASC    NY  Facebook - ASC - C01      167700    2635  1169.83
3 2025-05-19    ASC    NY  Facebook - ASC - C01      132781    2045  1775.26
4 2025-05-20    ASC    NY  Facebook - ASC - C01      115201    1634   987.10

   attributed revenue  platform
0             4706.23  Facebook
1             3674.32  Facebook
2             3317.04  Facebook
3             5250.54  Facebook
4             2409.58  Facebook

In [11]:
merged = ads.merge(business, on='date', how='left')

print(merged.head())

        date tactic state              campaign  impression  clicks    spend  \
0 2025-05-16    ASC    NY  Facebook - ASC - C01      124603    1888  1442.28
1 2025-05-17    ASC    NY  Facebook - ASC - C01      139596    2086  1235.47
2 2025-05-18    ASC    NY  Facebook - ASC - C01      167700    2635  1169.83
3 2025-05-19    ASC    NY  Facebook - ASC - C01      132781    2045  1775.26
4 2025-05-20    ASC    NY  Facebook - ASC - C01      115201    1634   987.10

   attributed revenue  platform  # of orders  # of new orders  new customers  \
0             4706.23  Facebook         2452              987            989
1             3674.32  Facebook         2173              772            761
2             3317.04  Facebook         2749             1275           1192
3             5250.54  Facebook         2060             1012            960
4             2409.58  Facebook         1791              910            908

   total revenue  gross profit       COGS
0      238010.95     124434.71  113576.24
1      224086.40     126119.02   97967.38
2      226582.57     128282.08   98300.49
3      203540.86     100212.05  103328.81
4      188081.24     115962.11   72119.13

In [12]:
daily_totals = merged.groupby('date', as_index=False).agg({
    'impression':'sum',
    'clicks':'sum',
    'spend':'sum',
    'attributed revenue':'sum',
    '# of orders':'sum',
    'new customers':'sum',
    'total revenue':'sum'
})

# Add calculated metrics
daily_totals['CTR'] = daily_totals['clicks'] / daily_totals['impression']
daily_totals['CPC'] = daily_totals['spend'] / daily_totals['clicks']
daily_totals['ROAS'] = daily_totals['attributed revenue'] / daily_totals['spend']

daily_totals.head()

,date,impression,clicks,spend,attributed revenue,# of orders,new customers,total revenue,CTR,CPC,ROAS
0,2025-05-16,4941478,125323,40107.26,110281.85,73560,29670,7140328.5,0.025361,0.320031,2.749673
1,2025-05-17,5045054,124233,41682.96,114401.63,65190,22830,6722592.0,0.024625,0.335522,2.744566
2,2025-05-18,5257187,125364,42959.17,123677.58,82470,35760,6797477.1,0.023846,0.342675,2.878956
3,2025-05-19,4768188,115391,39938.04,111469.36,61800,28800,6106225.8,0.024200,0.346111,2.791057
4,2025-05-20,4811244,109106,33217.76,92178.22,53730,27240,5642437.2,0.022677,0.304454,2.774968

In [13]:
platform_daily = merged.groupby(['date','platform'], as_index=False).agg({
    'impression':'sum',
    'clicks':'sum',
    'spend':'sum',
    'attributed revenue':'sum'
})
platform_daily['CTR'] = platform_daily['clicks'] / platform_daily['impression']
platform_daily['CPC'] = platform_daily['spend'] / platform_daily['clicks']
platform_daily['ROAS'] = platform_daily['attributed revenue'] / platform_daily['spend']

platform_daily.head()

,date,platform,impression,clicks,spend,attributed revenue,CTR,CPC,ROAS
0,2025-05-16,Facebook,1475903,19638,15440.67,40775.59,0.013306,0.786265,2.640791
1,2025-05-16,Google,2033462,83448,12669.47,36422.52,0.041037,0.151825,2.874826
2,2025-05-16,TikTok,1432113,22237,11997.12,33083.74,0.015527,0.539512,2.757640
3,2025-05-17,Facebook,1677399,21777,17210.84,42695.57,0.012983,0.790322,2.480737
4,2025-05-17,Google,1905351,79998,13250.04,39544.91,0.041986,0.165630,2.984512

In [14]:
campaign_totals = merged.groupby(['campaign','platform'], as_index=False).agg({
    'impression':'sum',
    'clicks':'sum',
    'spend':'sum',
    'attributed revenue':'sum'
})
campaign_totals['CTR'] = campaign_totals['clicks'] / campaign_totals['impression']
campaign_totals['CPC'] = campaign_totals['spend'] / campaign_totals['clicks']
campaign_totals['ROAS'] = campaign_totals['attributed revenue'] / campaign_totals['spend']

campaign_totals.head()

,campaign,platform,impression,clicks,spend,attributed revenue,CTR,CPC,ROAS
0,Facebook - ASC - C01,Facebook,22800743,341217,230913.93,648669.40,0.014965,0.676736,2.809139
1,Facebook - ASC - C05,Facebook,20480178,243929,197869.77,474699.69,0.011910,0.811178,2.399051
2,Facebook - ASC - C06,Facebook,22756998,340193,226439.24,635306.84,0.014949,0.665620,2.805639
3,Facebook - ASC - C07,Facebook,19742506,296668,199603.62,561227.16,0.015027,0.672818,2.811708
4,Facebook - ASC - C10,Facebook,20812160,248136,201259.07,488102.11,0.011923,0.811084,2.425243

In [20]:
import os
os.getcwd()

'C:\\Users\\aliya\\OneDrive\\Desktop\\LifeSight\\data'

In [21]:
import os
os.chdir(r"C:\Users\aliya\OneDrive\Desktop\LifeSight")
os.getcwd()   # check current folder

'C:\\Users\\aliya\\OneDrive\\Desktop\\LifeSight'

In [22]:
if not os.path.exists("data"):
    os.makedirs("data")

In [23]:
daily_totals.to_csv("data/daily_totals.csv", index=False)
platform_daily.to_csv("data/platform_daily.csv", index=False)
campaign_totals.to_csv("data/campaign_totals.csv", index=False)